@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


.login_bg {
  /* background-image: url("../public/static/images/new.png"); */
  background-image: url("../static/images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.side_bg {
  /* background-image: url("../public/static/images/new.png"); */
  background-image: url("../static/images/side_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
}
.manager_bg {
  /* background-image: url("../public/static/images/new.png"); */
  background-image: url("../static/images/manager_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
}
.active {
  background-color: white;
  color: #38b59e !important;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 181, 158);
  border-radius: 10px;
}

.scroll_bar_left {
  direction: ltr;
}
.scroll_bar_right {
  direction: rtl;
}
